{% extends "AcmeThemesBundle::layout.html.twig" %}
{% block body %}
<div class="row"><!--1-->
        <div class="col-lg-12 centered"><!--2-->
            <div class="row row-centered">
                <div class="box col-md-12 centered">
                    <p class="center-block"> 
                       <a class="btn btn-primary btn-lg" href="{{ path('contracts') }}">
                            <i class="glyphicon glyphicon-cog"></i>
                            GO to Contracts List
                        </a>
                     </p>  

                 </div>
             </div>
            
                <div class="well" data-original-title="">
                   <h2><i class="glyphicon glyphicon-user"></i> Contracts Creation</h2>
                </div>
                <div class="box-content"><!--4-->

<form action="{{ path('contracts_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
   
          <br/>
                    <p>
                        <button type="submit" class="btn btn-default">Create</button>
                    </p>
                </form>
                </div><!--end4-->
        
        </div><!--/span--><!--end2-->
    </div><!--end1-->
    {% javascripts
    '@AcmeThemesBundle/Resources/public/kinder/bower_components/bootstrap/dist/js/*'
    
    '@AcmeThemesBundle/Resources/public/kinder/ui/js/*'
    '@AcmeThemesBundle/Resources/public/kinder/js/kindergarten.js'
    %}

    <script src="{{ asset_url }}"></script>


{% endjavascripts %}
<script type="text/javascript">
    //kindergarten.layoutDate();
    //kindergarten.layoutSelect();
</script>
{% endblock %}