<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
     {% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- The styles -->
    <link id="bs-css" href="{{ asset('bundles/acmethemes/css/bootstrap-cerulean.min.css')}}" rel="stylesheet">

    <link href="{{ asset('bundles/acmethemes/css/charisma-app.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/acmethemes/bower_components/fullcalendar/dist/fullcalendar.css')}}" rel='stylesheet'>

    <link href="{{ asset('bundles/acmethemes/bower_components/fullcalendar/dist/fullcalendar.print.css')}}" rel='stylesheet' media='print'>

    <link href="{{ asset('bundles/acmethemes/bower_components/chosen/chosen.min.css')}}" rel='stylesheet'>

    <link href="{{ asset('bundles/acmethemes/bower_components/colorbox/example3/colorbox.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/bower_components/responsive-tables/responsive-tables.css')}}" rel='stylesheet'>

    <link href="{{ asset('bundles/acmethemes/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css')}}" rel='stylesheet'>

    <link href="{{ asset('bundles/acmethemes/css/jquery.noty.css')}}" rel='stylesheet'>

    <link href="{{ asset('bundles/acmethemes/css/noty_theme_default.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/css/elfinder.min.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/css/elfinder.theme.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/css/uploadify.css')}}" rel='stylesheet'>
    
    <link href="{{ asset('bundles/acmethemes/css/animate.min.css')}}" rel='stylesheet'>

    <!-- jQuery -->
    <script src="{{ asset('bundles/acmethemes/bower_components/jquery/jquery.min.js')}}"></script>

    

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    {% endblock %}
</head>

<body>
{% block sidebar %}
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
    
            <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs"/>
                <span>KinderGarden</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a href="http://kindergarden.local/app_dev.php/children"><i class="glyphicon glyphicon-eye-open"></i><span>Children</span></a>
                        </li>
                        <li><a href="http://kindergarden.local/app_dev.php/families"><i class="glyphicon glyphicon-eye-open"></i><span>Family</span></a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->
{% endblock %}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
         {% block body %}{% endblock %}
    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    
    
    <footer class="row">
        {% block footer %}{% endblock %}
    </footer>

</div><!--/.fluid-container-->


<!-- external javascript -->
{% block javascripts %}

<script src="{{ asset('bundles/acmethemes/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!-- library for cookie management
<script src="{{ asset('bundles/acmethemes/js/jquery.cookie.js')}}"></script>>
<!-- calender plugin -->
<script src="{{ asset('bundles/acmethemes/bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{ asset('bundles/acmethemes/bower_components/fullcalendar/dist/fullcalendar.min.js')}}"></script>
<!-- data table plugin -->
<script src="{{ asset('bundles/acmethemes/js/jquery.dataTables.min.js')}}"></script>

<!-- select or dropdown enhancer -->
<script src="{{ asset('bundles/acmethemes/bower_components/chosen/chosen.jquery.min.js')}}"></script>
<!-- plugin for gallery image view -->
<script src="{{ asset('bundles/acmethemes/bower_components/colorbox/jquery.colorbox-min.js')}}"></script>
<!-- notification plugin -->
<script src="{{ asset('bundles/acmethemes/js/jquery.noty.js')}}"></script>
<!-- library for making tables responsive -->
<script src="{{ asset('bundles/acmethemes/bower_components/responsive-tables/responsive-tables.js')}}"></script>
<!-- tour plugin -->
<script src="{{ asset('bundles/acmethemes/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
<!-- star rating plugin -->
<script src="{{ asset('bundles/acmethemes/js/jquery.raty.min.js')}}"></script>
<!-- for iOS style toggle switch -->
<script src="{{ asset('bundles/acmethemes/js/jquery.iphone.toggle.js')}}"></script>
<!-- autogrowing textarea plugin -->
<script src="{{ asset('bundles/acmethemes/js/jquery.autogrow-textarea.js')}}"></script>
<!-- multiple file upload plugin -->
<script src="{{ asset('bundles/acmethemes/js/jquery.uploadify-3.1.min.js')}}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{ asset('bundles/acmethemes/js/jquery.history.js')}}"></script>
<!-- application script for Charisma demo
<script src="{{ asset('bundles/acmethemes/js/charisma.js')}}"></script>-->
<!--<script src="{{ asset('bundles/acmethemes/js/kindergarden.js')}}"></script>-->
{% endblock %}
</body>
</html>
