{% block body %}
<style type="text/css">
.panel-child{
    width: 96%;
    height: 25%;
    margin-bottom: 1%;
    overflow: hidden;
}
.image-child, .name-child{
    width: 16%;
}
.name-child
{
    margin-left: 33%;
    margin-top: 5%;
}

.panel-child .image-child, .panel-child .name-child{

    float:left;
}
img{
    width: 100%;
    height: 100%
}
</style>
            <div class ="panel-child">
                <div class ="image-child" >
                    <img src="/uploads/{{entity.image.path}}{{ entity.image.name }}" alt="">
                 </div>
                 <div class ="name-child">
                    <span><h4>{{ entity.name }} <td>{{ entity.surname }}</h4></span>
                 </div>
            </div>
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Children</a></li>
                <li><a href="#tabs-2">EmergencyDates</a></li>
                <li><a href="#tabs-3">Family</a></li>
              </ul>
                <div id="tabs-1">        
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Birth</th>
                            <td>{{ entity.birth|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Datestart</th>
                            <td>{{ entity.dateStart|date('Y-m-d') }}</td>
                        </tr>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLES_SUPER_ADMIN') %} 
                        <tr>
                            <td colspan='2'>
                                <p class="">
                                     <a class="btn btn-info" href="{{ path('children_edit', { 'id': entity.id }) }}">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Edit
                                    </a>
                                    <form action="{{ path('children_delete', { 'id': entity.id }) }}" method="post">
                                        {{ form_widget(delete_form) }}
                                
                                     <button type="submit" class="btn btn-danger">
                                     <i class="glyphicon glyphicon-trash icon-white"></i>
                                     Delete
                                     </button>
                                    
                                    </form>
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
               </div><!--end tab1--> 

            <div id="tabs-2">        
            <!-- Emergency datas-->
                    {%- if sos == false -%}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLES_SUPER_ADMIN') %} 
                        <p class="center-block">
                            <a href="{{ path('emergencydatas_new') }}" class="btn btn-primary btn-lg">
                                <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                                Create Emergencys Data
                            </a>
                        </p>    
                     {% endif %}
                     {% else %}
                     <table class="table table-bordered">
                      <tbody>
                            <tr>
                                <th>Healthinsurance</th>
                                <td>{{ sos.healthInsurance }}</td>
                            </tr>
                            <tr>
                                <th>Anothercontact</th>
                                <td>{{ sos.anotherContact }}</td>
                            </tr>
                            {%- if sos.doctor == false -%}
                            <tr>
                                <th colspan="2">
                                    <p class="center-block">
                                        <a href="{{ path('doctors_new') }}" class="btn btn-primary btn-lg">
                                        <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                                        Create Doctor
                                        </a>
                                    </p>
                                </th>                   
                            </tr>
                             {%else%}
                            <tr>
                            <td colspan="2">
                                 <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                            <th>Name</th>
                                            <td>{{ sos.doctor.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Surname</th>
                                                <td>{{ sos.doctor.surname }}</td>
                                            </tr>
                                            {% if sos.doctor.address %}
                                             <tr>
                                                <th>Street</th>
                                                <td>{{ sos.doctor.address.street }}</td>
                                            </tr>
                                            <tr>
                                                <th>Number</th>
                                                <td>{{ sos.doctor.address.number }}</td>
                                            </tr>
                                            <tr>
                                                <th>Complement</th>
                                                <td>{{ sos.doctor.address.complement }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ciudad</th>
                                                <td>{{ sos.doctor.address.ciudad }}</td>
                                            </tr>
                                            <tr>
                                                <th>Postcode</th>
                                                <td>{{ sos.doctor.address.postcode }}</td>
                                            </tr>   
                                            {% endif %}
                                            {% if sos.doctor.contact %}
                                            <tr>
                                                <th>Phone</th>
                                                <td>{{ sos.doctor.contact.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Secondphone</th>
                                                <td>{{ sos.doctor.contact.secondPhone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{ sos.doctor.contact.email }}</td>
                                            </tr>
                                            <tr>
                                                <th>Phonejob</th>
                                                <td>{{ sos.doctor.contact.phoneJob }}</td>
                                            </tr>
                                            <tr>
                                                <th>Secondphonejob</th>
                                                <td>{{ sos.doctor.contact.secondPhoneJob }}</td>
                                            </tr>
                                            {% endif %}
                                       </tbody>
                                    </table>   
                    
                            </td>  
                            </tr> <!--end doctor-->
                           {%- endif -%} 
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLES_SUPER_ADMIN') %} 
                           <tr>
                                <td colspan="2">
                                    <p> 
                                        <a class="btn btn-info" href="{{ path('emergencydatas_edit', { 'id': sos.id }) }}">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            Edit
                                        </a>
                                        <form action="{{ path('emergencydatas_delete', { 'id': sos.id }) }}" method="post">
                                        {{ form_widget(delete_form) }}
                                            <button type="submit" class="btn btn-danger">
                                                 <i class="glyphicon glyphicon-trash icon-white"></i>
                                                 Delete
                                            </button>
                                        </form>
                                    </p>  
                                </td> 
                           </tr> 
                         {%- endif -%}         
                  </tbody>
                </table>
              {%- endif -%}       
            </div><!--end table2-->

             <!--End emargency Datas-->
                
                <div id="tabs-3">
                        {% if families == null %}
                         {% if is_granted('ROLE_ADMIN') or is_granted('ROLES_SUPER_ADMIN') %} 
                            <p class="center-block">
                                <a href="{{ path('emergencydatas_new') }}" class="btn btn-primary btn-lg">
                                    <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                                    Create Family
                                </a>
                             </p>   
                         {% endif %}
                         {% else %}
                         {% if is_granted('ROLE_ADMIN') or is_granted('ROLES_SUPER_ADMIN') %}
                         <p class="center-block">
                                <a href="{{ path('families_new') }}" class="btn btn-primary btn-lg">
                                    <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                                    ADD Family
                                </a>
                            </p>
                        {% endif %}         
                         <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>   
                        <tr>
                          
                            <th>Surname</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for family in families %}
                        <tr>
                           
                            <td>{{ family.surname }}</td>
                            <td class="center">{{ family.name }} {{ family.surname }}</td>
                            <td class="center">{{ family.surname }}</td>
                            <td class="center">
                                                <a class="btn btn-success" href="{{ path('families_show', { 'id': family.id }) }}">
                                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                                    View
                                                </a>
                             {% if is_granted('ROLE_SUPER_ADMIN') %}                    
                                                <a class="btn btn-info" href="{{ path('families_edit', { 'id': family.id }) }}">
                                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                                    Edit
                                                </a>
                                                <a class="btn btn-danger" href="#">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                    Delete
                                                </a>
                                          </td>
                            {%- endif -%}              
                        </tr>
                    {% endfor %}
                                        </tbody>
                                    </table>
                         
                  {%- endif -%}       
                        
                </div><!--end table-3-->
                
             </div><!---->        
             

  
  {% javascripts
    '@AcmeThemesBundle/Resources/public/kinder/bower_components/bootstrap/dist/js/*'
    
    '@AcmeThemesBundle/Resources/public/kinder/ui/js/jquery-ui.min.js'
    
    '@AcmeThemesBundle/Resources/public/kinder/js/kindergarten.js'
    
    %}

    <script src="{{ asset_url }}"></script>
     


{% endjavascripts %}

<script type="text/javascript">
    kindergarten.layoutTabs();
</script>
{% endblock %}