<h1>AttendanceChildren</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Attendance</th>
            <td>{{ entity.attendance }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Lastupdate</th>
            <td>{{ entity.lastUpdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datecreate</th>
            <td>{{ entity.dateCreate|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('attendancechildren') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('attendancechildren_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('attendancechildren_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
