{% extends "AcmeThemesBundle::layout.html.twig" %}
{% block body %}
<div class="row"><!--1-->
 <div class="row row-centered">
 <div class="box col-md-12"><!--2-->
    <div class="box col-md-12 centered">
    <p class="center-block"> 
         <a href="{{ path('emergencydatas') }}" class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i>
             Back
       </a>
       <a class="btn btn-primary btn-lg" href="{{ path('children') }}">
            <i class="glyphicon glyphicon-cog"></i>
            Go to Children
        </a>
    </p>
</div>
</div>
</div>
                
    <div  class="accordion">
        <h3>Doctors</h3>
        <div>
            <form action="{{ path('doctors_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                    {{ form_widget(edit_form) }}
                    <br/>
                     <div class="col-lg-6">
                     <div class="button-group">
                                   
                     <div class="button-edit">
                    <p>
                        <button type="submit" class="btn btn-info">
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                            Edit
                        </button>
                    </p>
                </form>
                 </div>   
                    <div class="button-delete">   
                   

                <form action="{{ path('doctors_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" class="btn btn-danger" >
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                             Delete
                    </button>
                </form>
                </div><!--group-->
                </div><!--group-->
                </div><!--delete-->
  </div><!--endseccion1-->
   <h3> Address</h3>
    <div><!--2-->
                 {%- if entity.address == false -%}
                    
                    <p class="center-block">
                        <a href="{{ path('address_new', {'who':'doctor' ,id:entity.id}) }}" class="btn btn-primary btn-lg">
                        <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                        Create Address
                        </a>
                    </p>
                  
                {%else%}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Street</th>
                                <td>{{ entity.address.street }}</td>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <td>{{ entity.address.number }}</td>
                            </tr>
                            <tr>
                                <th>Complement</th>
                                <td>{{ entity.address.complement }}</td>
                            </tr>
                            <tr>
                                <th>Ciudad</th>
                                <td>{{ entity.address.ciudad }}</td>
                            </tr>
                            <tr>
                                <th>Postcode</th>
                                <td>{{ entity.address.postcode }}</td>
                            </tr>
                            <tr>               
                                <td colspan="2">
                                   <p> 
                                  <a class="btn btn-info" href="{{ path('address_edit', { 'id': entity.address.id }) }}">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Edit
                                    </a>
                                    <form action="{{ path('address_delete', { 'id': entity.address.id }) }}" method="post">
                                        {{ form_widget(delete_form) }}
                                        <button type="submit" class="btn btn-danger">
                                             <i class="glyphicon glyphicon-trash icon-white"></i>
                                             Delete
                                        </button>
                                    </form>
                                   </td> 
                            </tr> 
                </tbody>
        </table>   
        {%- endif -%} 
          
</div><!--seccion2-->

<!--end Address Content-->
<!-- Contact Content-->
<h3>Contact</h3>
    <div><!--3-->
                    {%- if entity.contact == false -%}
                    
                    <p class="center-block">
                        <a href="{{ path('contact_new',{'who':'doctor' ,id:entity.id}) }}" class="btn btn-primary btn-lg">
                        <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 
                        Create Contact
                        </a>
                    </p>
                  
                {%else%}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Phone</th>
                                <td>{{ entity.contact.phone }}</td>
                            </tr>
                            <tr>
                                <th>Secondphone</th>
                                <td>{{ entity.contact.secondPhone }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ entity.contact.email }}</td>
                            </tr>
                            <tr>
                                <th>Phonejob</th>
                                <td>{{ entity.contact.phoneJob }}</td>
                            </tr>
                            <tr>
                                <th>Secondphonejob</th>
                                <td>{{ entity.contact.secondPhoneJob }}</td>
                            </tr>
                            <tr>               
                                <td colspan="2">
                                   <p> 
                                  <a class="btn btn-info" href="{{ path('contact_edit', { 'id': entity.contact.id }) }}">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Edit
                                    </a>
                                    <form action="{{ path('contact_delete', { 'id': entity.contact.id }) }}" method="post">
                                        {{ form_widget(delete_form) }}
                                        <button type="submit" class="btn btn-danger">
                                             <i class="glyphicon glyphicon-trash icon-white"></i>
                                             Delete
                                        </button>
                                    </form>
                                   </td> 
                            </tr> 
                </tbody>
        </table>   
        {%- endif -%} 
            </div><!--endSeccion3-->
        </div><!--endAccordion-->
    </div><!--/span--><!--end2-->
</div>
 {% javascripts
    '@AcmeThemesBundle/Resources/public/kinder/bower_components/bootstrap/dist/js/*'
    
    '@AcmeThemesBundle/Resources/public/kinder/ui/js/jquery-ui.min.js'

    '@AcmeThemesBundle/Resources/public/kinder/js/kindergarten.js'
    
    %}

    <script src="{{ asset_url }}"></script>

{% endjavascripts %}

<script type="text/javascript">
    kindergarten.layoutDate();
    kindergarten.panelAccordion();
</script>
 {% endblock %}
